/* @media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  } */

.loginBtn{
    color: white;
    text-align: center;
    cursor: default;
    background-color:blue;
    box-sizing: border-box;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px 15px;
    border-width: 1px;
    border:1px solid blue;
    border-radius: 5px; 
    width: 150px; 
    align-items: center;
    margin-top: 0px;
    margin-left: 250px;
    
}
.width{
  width:500px;
}
.noAccount{
  margin-left:225px;
  margin-top:15px;
  margin-bottom:20px
}

.h-custom {
  height: calc(100% - 73px);
}

@media only screen and (max-width: 1200px) and (min-width: 1000px)  {
  .width{
    width:400px;
  }
  .loginBtn{
    margin-left: 200px;
  }
  .noAccount{
    margin-left: 180px;
  }
}
@media only screen and (max-width: 999px) and (min-width: 828px)  {
  .width{
    width:300px;
  }
  .loginBtn{
    margin-left: 150px;
  }
  .noAccount{
    margin-left: 130px;
  }
}
@media only screen and (max-width: 827px) and (min-width: 821px)  {
  .loginBtn{
    margin-left: 130px;
  }
  .noAccount{
    margin-left: 100px;
  }
}
@media only screen and (max-width: 820px) and (min-width: 766px)  {
  .width{
    width:250px;
  }
  .loginBtn{
    margin-left: 100px;
  }
  .noAccount{
    margin-left: 80px;
  }
  #text{
    font-size: 20px;
  }
  #btn1,#btn2,#btn3{
    width:50px;
  }
}

@media only screen and (max-width: 765px) and (min-width: 642px)  {
  #text{
    font-size: 20px;
  }
  #btn1,#btn2,#btn3{
    width:40px;
  }
}
@media only screen and (max-width:642px){

  .width{
    width: 350px;
  }
  #text{
    font-size: 20px;
  }
  #btn1,#btn2,#btn3{
    width:40px;
  }
  .loginBtn{
    margin-left: 180px;
  }
  .noAccount{
    margin-left: 160px;
  }
}
